#container canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

#clock {
    font-size: 14px;
    letter-spacing: 2px;
    font-family: monospace;
    min-width: 80px;
}
